body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    overflow-y: auto;
    animation: changeBackground 10s infinite;
}

@keyframes changeBackground {
    0%, 100% { background-color: #f0f0f0; }
    25% { background-color: #ffcccc; }
    50% { background-color: #ccffcc; }
    75% { background-color: #ccccff; }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-50px); }
    to { opacity: 1; transform: translateY(0); }
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 10px;
    background-image: url('images/image.png');
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    max-width: 100%;
    height: 60vh;
    justify-content: center;
    margin-top: 20%;
    position: relative;
    align-items: center;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.card {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-style: preserve-3d;
    animation: changeColor 3s infinite;
    max-width: 100%;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card.flipped {
    background-color: #a0d3e8;
    border-color: #0d98ba;
    cursor: not-allowed;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: none;
}

.card.flipped img {
    display: block;
}

#message {
    font-size: 1.2rem;
    color: #555;
    margin: 20px 0;
    text-align: center;
}

#final-image {
    display: none;
    margin-top: 20px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    text-align: center;
}

iframe {
    border-radius: 12px;
    margin-top: 20px;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 300px;
    height: 380px;
}

iframe:hover {
   transform: scale(1.03);
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: #007bff;
    transform: translateY(-5px);
}

.icon.facebook:hover { color: #3b5998; }
.icon.twitter:hover { color: #1da1f2; }
.icon.instagram:hover { color: #e1306c; }
.icon.linkedin:hover { color: #0077b5; }

#restartButton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #0d98ba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#restartButton:hover {
    background-color: #0a7a95;
}

@media (max-width: 768px) {
    body {
        height: auto;
        padding: 20px;
    }

    .game-board {
        display: grid;
        grid-template-columns: repeat(5, 100px);
        gap: 10px;
        background-image: url('images/image.png');
        background-size: cover;
        background-position: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
        max-width: 100%;
        height: 100vh;
        justify-content: center;
        margin-top: 20%;
        position: relative;
        align-items: center;
        text-align: center;
        animation: fadeIn 1s ease-out;
    }

    .card {
        width: 90px;
        height:90px;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 2px solid #ccc;
        border-radius: 8px;
        transition: transform 0.3s ease, background-color 0.3s ease;
        transform-style: preserve-3d;
        animation: changeColor 3s infinite;
        max-width: 100%;
    }

    .title {
        font-size: 2rem;
        text-align: center;
    }

    #message {
        font-size: 1rem;
    }

    iframe {
        width: 100%;
        height: 250px;
    }

    footer p {
        font-size: 1rem;
    }

    .social-icons a {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .game-board {
        display: grid;
        grid-template-columns: repeat(5, 50px);
        gap: 10px;
        background-image: url('images/image.png');
        background-size: cover;
        background-position: center;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
        max-width: 100%;
        height: 60vh;
        justify-content: center;
        margin-top: 20%;
        position: relative;
        align-items: center;
        text-align: center;
        animation: fadeIn 1s ease-out;
    }
    
    .card {
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 2px solid #ccc;
        border-radius: 8px;
        transition: transform 0.3s ease, background-color 0.3s ease;
        transform-style: preserve-3d;
        animation: changeColor 3s infinite;
        max-width: 100%;
    }
    
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    
    .card.flipped {
        background-color: #a0d3e8;
        border-color: #0d98ba;
        cursor: not-allowed;
    }
    
    .card img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        display: none;
    }
    
    .card.flipped img {
        display: block;
    }

    .title {
        font-size: 1.8rem;
    }

    iframe {
        height: 200px;
    }

    footer p {
        font-size: 1rem;
    }

    .social-icons a {
        font-size: 1.5rem;
    }
}